<div class="app-card-container">
    <div class="card">
        <h1>About Me</h1>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <%= image_tag "profile.jpeg", width: 200, alt: "profile image", class: 'profile-img' %>
            </div>

            <div class="col-md-8">
                <p>I am a creative, enthusiastic, and dedicated full stack developer. Graduate of DevMountain Web Development Immersive program. Self-starter and goal-oriented with an endless drive to learn and improve, and excellent communication skills.</p>
            </div>
        </div>

    </div>
</div>

